
.container{
    text-align: center;
   margin-top: 23px;
}
table{
    margin: auto;
}

input{
    font-size: 34px;
    border: 4px solid #391414;
    border-radius: 20px;
}
button{
    font-size: 35px;
    background: #978fa0;
    width: 100px;
    height: 55px;
    border-radius: 20px;
}

.calculator{
    background-color: #ff99f7;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
    display: inline-block;
}